form {
    width: 600px;
    margin: 200px auto; 
    border: solid black;      
}

div {
    width: 100%;
    margin: 15px auto;
}

label {
    margin-left: 160px;
    display: block;
    padding: 20px;
    font-size: 20px;
}

input {
    width: 50%;
    display: block;
    border: 1px solid #808080;
    font-size: 20px;
    border-radius: 5px;
}

button {
    margin: 0;
    padding: 8px;
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 240px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(90deg, rgb(37, 36, 41), rgb(126, 125, 119));
}
span {
    display: block;
    color: red;
    font-style: italic;
}